






<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    
    <ul class="navbar-nav">
 
     <li class="nav-item">
         <a routerLink="/userlist" routerLinkActive="active" class="nav-link">User List</a>
     </li>
     <li class="nav-item">
         <a routerLink="/createuser" routerLinkActive="active" class="nav-link">Add User</a>
     </li>
    </ul>

 
</nav>
<br><br><br><br><br><br>
<div class="container">
<button class="btn btn-success float-right" [routerLink]="'/admin'">Back</button>
</div>
<h1 class="text-center"></h1>
<div class="container"></div>
<footer class="footer">
    <!-- <div class="container"></div> -->
    <span>Al Rights reserved @EcMaaTech</span>

</footer>
