<div class="container">
    <h3>Welcome User</h3><br><br><br><br>
    <h4>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a routerLink="/login">Login</a></div>
        <div class="col-sm-4"></div>
      </div></h4>
      <h4>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a routerLink="/register">Register</a></div>
        <div class="col-sm-4"></div>
      </div>
    </h4>
      <button class="float-right btn btn-info" [routerLink]="'/home'">Back</button>
    </div>