


   <h1 class="text-center" style="color:rgb(181, 180, 183); background-color: rgb(6, 65, 107);" >EcMaaTech</h1>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand font-weight-bold  bg-primary text-light" [routerLink]="'/admin'">Admin</a>
        </div>
        <div class="navbar-header">
         <a class="navbar-brand font-weight-bold bg-primary text-light" [routerLink]="'/user'">User</a>
       </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          
            <img src="../assets/images/image7.jpg"  style="width:100%">
            <div class="caption">
              
            </div>
         
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
         
            <img src="../assets/images/image7.png"  style="width:100%;">
            <div class="caption">
              
            </div>
         
        </div>
      </div>
    </div>
    <!-- <img class="img-responsive" src="../assets/images/image1.jpg"  width="700" height="700"> -->
     <footer class="footer"> 
      <div class="container"></div>
      <span>Al Rights reserved @EcMaaTech</span>
  
  </footer>
